/* .filter-container {

   

    position: absolute;

    top: -135px;

    left:800px;

    width: auto;

} */

 

.upcoming-leaves-table-container {

    background-color: rgb(135, 202, 247);
    max-height: 300px; /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds max-height */
    margin-left: 350px;
    position: absolute;
    top: -100px; /* Adjust the top position */
    left: 350px; /* Adjust the left position */
    width: 17rem; /* Calculate the width of the container */
    margin-top: 20px; /* Adjust margin as needed */
    flex-flow: row wrap

   

}
.para{
  font-family: Georgia, serif;
  font-weight: bold;
  margin-left: 48rem;
  position: relative;
  bottom: 6.1rem;
  width: 10rem;
}

 

.upcoming-leaves-table {

    width: 100%;

    border-collapse: collapse;

    table-layout: fixed;

}

 

.upcoming-leaves-table th,

.upcoming-leaves-table td {

    padding: 8px;

    border: 1px solid #ccc;

    text-align: left;

}

 

.upcoming-leaves-table th {

    background-color: #f2f2f2;

}

 

/* Rest of your styles for .btn-grad and .notice-board */

.month-picklist-container{

    position: relative; 

    top: auto; 

    left: 10px; 

    display: inline-block; 

}